---
import Navigation from '@components/Navigation.jsx'
import MetaHeaders from '@components/MetaHeaders.astro'
---

<html lang="en">
	<MetaHeaders title="Philosophy | ShreyKumar.com" />
	<body>
    <Navigation page='Philosophy' client:visible />
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 mt-40">
      Philosophy Section
    </div>
	</body>
</html>
